@import "../../styles/variables.scss";

.information__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 390px;
  height: 186px;
  background: #1b191c;
  border-radius: 10px;

  @media (max-width: $screen-1024) {
    width: 342px;
    height: 168px;
    border-radius: 0px;
  }

  .information__title__content {
    margin: 32px;

    .label_container {
      text-align: center;
      margin-top: 0px;
      font-family: "JostLight";
    }

    .title {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: "JostBold";
      font-weight: 700;
      font-size: 16px;
      line-height: 112.5%;
      color: $white-100;
    }
  }
}
.container_data_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  min-height: 400px;
  border-radius: 30px;

  @media (max-width: $screen-1024) {
    height: 100%;
    width: 390px;
  }
  .formik__field {
    @media (max-width: $screen-1024) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.avatars_container {
  display: flex;
  flex-direction: row;
  //justify-content: center;
  align-items: center;
  width: 500px;
  height: 149px;
  border-radius: 30px;

  @media (max-width: $screen-1024) {
    width: 390px;
    height: 80px;
    border-radius: 0px;
  }
  .avatar_placeholder{
    margin-left: 10px;
    font-size: 16px;
    font-family: JostRegular;
    color: $pink-500;
  }
  .button__back {
    height: 100%;
    margin-left: 26px;
    margin-right: 26px;

    img {
      margin-top: 28px;
    }
  }
  .avatars__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;

    .line {
      width: 151px;
      height: 0px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid #5855ff;

      @media (max-width: $screen-1024) {
        width: 114px;
      }
    }
  }
  .avatar__size {
    img {
      @media (max-width: $screen-1024) {
        width: 54px !important;
        height: 54px !important;
      }
    }
  }
}
.only__avatar {
  margin-left: 20px;
}
.input_container {
  background: #1b191c;
  border-radius: 6px;
  height: 66px;
  width: 100%;
}
.date_picker_input {
  height: 66px;
  width: 400px;
  background: #1b191c;
  border: 0;
  border-radius: 6px;
  color: white;
}

.avatar_input {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.empty {
  margin-left: 10px;
  background: #38343b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  background-color: $gray-700;
  border-radius: 50%;
  width: 86px;
  height: 86px;

  @media (max-width: $screen-1024) {
    width: 54px;
    height: 54px;
  }
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.data-form {
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  text-align: left;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $screen-1024) {
    width: 390px;
    height: 100%;
  }

  .data_form_inputs {
    height: 400px;
    text-align: left;
    width: 400px;
    align-items: center;
    margin-bottom: 100px;

    @media (max-width: $screen-1024) {
      width: 342px;
    }

    .inputs__field {
      margin-top: 24px;

      input::placeholder {
        color: $pink-500 !important;
      }

      & div > .unnecessary {
        &::placeholder {
          color: $gray-500 !important;
        }
      }

      // input:-webkit-autofill,
      // input:-webkit-autofill:hover,
      // input:-webkit-autofill:focus,
      // input:-webkit-autofill:active {
      //   transition: background-color 5000s ease-in-out 0s;
      //   -webkit-text-fill-color: $white-100 !important;
      // }
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
      }

      .data_form_label {
        height: 22px;
        font-family: "JostLight";
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        color: #938a99;
      }

      label {
        height: 22px;
        font-family: "JostLight";
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        color: #938a99;
      }
    }
  }
}

.data-form::-webkit-scrollbar{
  display: none;  /* Safari and Chrome */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.button__formik__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 130px;
  align-items: center;
  justify-content: center;
  background: #1b191c;
  width: 500px;

  @media (max-width: $screen-1024) {
    width: 390px;
  }
}

.selectLabel {
  margin-bottom: 5px;
}

.missingData {
  &__select {
    width: 100%;
  }
}
