@import "../../styles/variables.scss";

.buttons__container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;

  .button__decline{
    margin-top: 24px;

    @media (max-width: $screen-1024) {
      margin-top: 45px;
    }
  }
}