@import "../variables";

.my__items__container{
  width: 200px;
  height: 387px;
  margin-left: 66px;

  @media (max-width: $screen-1024) {
    width: 276px;
    height: 551px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .items__logo{
    position: relative;
    width: 200px;
    height: 40px;

    @media (max-width: $screen-1024) {
      width: 276px;
      height: 50px;
    }

    .logo__header{
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -27px;
      right: 69px;
      width: 62px;
      height: 62px;
      background-color: black;
      border-radius: 50%;

      @media (max-width: $screen-1024) {
        width: 100px;
        height: 100px;
        img{
          width: 86px !important;
          height: 86px !important;
        }
        position: absolute;
        bottom: -43px;
        right: 88px
      }

    }
  }
  .active__event{
    background: linear-gradient(227.57deg, #5F9FFF -31.59%, rgba(185, 72, 224, 0) 207.27%);
  }

  .ended__event{
    background: linear-gradient(226.94deg, #938A99 -8.41%, rgba(83, 51, 125, 0) 162.83%);
  ;
  }
  .items__content{
    width: 200px;
    height: 360px;
    border-radius: 10px;

    @media (max-width: $screen-1024) {
      width: 276px;
      height: 500px;
    }


    .product__type__icon{
      padding-top: 17px;
      padding-left: 17px;

      @media (max-width: $screen-1024) {
        padding-top: 24px;
        padding-left: 24px;
      }
    }

    .text__content{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 170px;
      height: 91px;

      @media (max-width: $screen-1024) {
        width: 220px;
        height: 128px;
      }

      .product__name{
        text-align: center;
        font-family: "JostRegular";
        font-size: 10px;
        color: $white-100;
        @media (max-width: $screen-1024) {
          font-family: "JostLight";
          font-size: 16px;
        }
      }

      .event__name{
        text-align: center;
        font-family: "JostBold";
        line-height: 17px;
        font-weight: 700;
        font-size: 14px;
        color: $white-100;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 6px auto;
        @media (max-width: $screen-1024) {
          font-size: 16px;
          margin: 20px auto 6px;
        }
      }
      .product__info{
        text-align: center;
        font-family: "JostRegular";
        //font-weight: 700;
        font-size: 10px;
        color: $white-100;
        //padding-bottom: 27px;
        @media (max-width: $screen-1024) {
          font-family: "JostRegular";
          font-size: 14px;
        }
      }
    }
    .items__owner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 18px;
      height: 51px;

      @media (max-width: $screen-1024) {
        margin-top: 15px;
          img{
            width: 42px !important;
            height: 42px !important;
          }
      }

      .owner__name{
        text-align: center;
        font-family: "JostBold";
        line-height: 14px;
        font-weight: 700;
        font-size: 14px;
        color: $white-100;
        margin: 6px auto 0px;

      }
      .assigned__info{
        text-align: center;
        margin-top: 0px;
        font-family: "JostRegular";
        font-size: 10px;
        @media (max-width: $screen-1024) {
          font-family: "JostRegular";
          font-size: 14px;
        }
      }
    }
    .qr__content{
      width: 100px;
      height: 100px;
      margin-top: 18px;
      margin-right: auto;
      margin-left: auto;


      @media (max-width: $screen-1024) {
        padding-top: 14px;
        width: 150px;
        height: 150px;
      }

      .qr__code{
        border: 10.5px solid $white-100;
        width: 80px;
        height: 80px;


        @media (max-width: $screen-1024) {
          border: 16px solid white;
          width: 118px;
          height: 118px;
        }
      }

      .pending__container{
        display: flex;
        align-items: center;
        border: 6px solid $white-100;
        width: 88px;
        height: 88px;
        text-align: center;
        font-family: "JostBold";
        line-height: 17px;
        font-weight: 700;
        font-size: 14px;
        color: $white-100;


        @media (max-width: $screen-1024) {
          border: 12px solid white;
          width: 126px;
          height: 126px;
        }
      }

    }
    .claimed__ticket{
      margin-top: 12px;
      text-align: center;
      font-family: "JostBold";
      line-height: 14px;
      font-weight: 700;
      font-size: 14px;

      @media (max-width: $screen-1024) {
        margin-top: 15px;
      }
    }
    .claimed{
      color:$white-100;
    }
    .not__claimed{
      color:$pink-500;
    }

  }
}