@import "../../styles/variables.scss";

.used__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid $white-100;
    width: 88px;
    height: 88px;
    text-align: center;



    @media (max-width: $screen-1024) {
      border: 12px solid $white-100;
      width: 126px;
      height: 126px;
    }
  .used__title{
    text-align: center;
    font-family: "JostBold";
    line-height: 14px;
    font-weight: 700;
    margin-top: 18px;
    font-size: 14px;
    color: $white-100;

    @media (max-width: $screen-1024) {
      margin-top: 40px;
    }
  }

  .used__date{
    width: 65px;
    text-align: center;
    margin-top: 5px;
    font-family: "JostRegular";
    font-size: 10px;

    @media (max-width: $screen-1024) {
      width: 90px;
      margin-top: 10px;
      font-size: 14px;
    }
  }
}

