.avatar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar__container img {
  border: 1px solid rgba(99, 91, 104, 0.8);
  object-fit: cover;
}

.eventTitle {
  font-family: "JostMedium";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1024px) {
  .eventTitle {
    flex: 1;
    text-align: center;
    max-width: 200px;
    max-height: 50px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*# sourceMappingURL=index.css.map */
