.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.container a {
    color: white;
}
@media (min-width: 1024px) {
    .container {
        width: 100%;
        max-width: 1010px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 365px;
    }
}

.with_header {
    position: relative;
}

.centrified {
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .headerImage {
        width: 100%;
        max-width: 390px;
    }
}