.event {
    margin-top: 21px;
}
.event__container {
    padding: 0 23px;
}
.event__title {
    font-family: "JostBold";
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 23px;
}
.event__details {
    display: flex;
    justify-content: space-between;
    font-family: "JostRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 12px;
}
.event__details .shared {
    display: flex;
    visibility: hidden;
}
@media (max-width: 1024px) {
    .event__details .shared {
        visibility: visible;
    }
}
.event__details .animated {
    animation: flick 1s infinite;
}
@keyframes flick {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.event__description {
    font-family: "JostRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 23.12px;
    margin-bottom: 131px;
    margin-top: 11px;
    text-align: start;
    unicode-bidi: plaintext;
}
@media (max-width: 1024px) {
    .event__description {
        margin-bottom: 38px;
    }
}
.event__footer {
    width: 100%;
    height: 90px;
    overflow: hidden;
    margin-top: 31px;
    position: absolute;
    bottom: -4px;
}
.event__footer > img {
    width: 100%;
}
@media (max-width: 1024px) {
    .event__footer {
        position: relative;
        margin-top: 0px;
        height: 97px;
        overflow: visible;
    }
    .event__footer > img {
        position: absolute;
        width: 100vw;
        height: 60px;
        object-fit: cover;
        bottom: 85px;
    }
}
.event__footer_link {
    color: #FFFFFF;
}
.event__footer_content {
    display: none;
}
@media (max-width: 1024px) {
    .event__footer_content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: #1B191C;
        height: 100px;
        width: 100%;
        bottom: 0;
    }
}
.event .project__label {
    font-family: "JostBold";
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}

.eventPage {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.with_sticky {
    padding-top: 80px;
}

.footer__size {
    margin-bottom: 150px;
}
@media (max-width: 1024px) {
    .footer__size {
        margin-bottom: 93px;
    }
}

/*# sourceMappingURL=index.css.map */
