.header__row {
    display: flex;
}
@media (max-width: 1024px) {
    .header__row {
        justify-content: space-between;
    }
}
.header__sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #1B191C;
    width: 100%;
    margin-bottom: 40px;
    z-index: 100;
    padding: 13px 0;
    box-sizing: border-box;
}
@media (max-width: 1024px) {
    .header__avatar {
        display: flex;
        flex: 1;
        flex-direction: row-reverse;
        margin-right: 20px;
    }
}
.header__back {
    margin-right: 20px;
    margin-left: -34px;
    margin-top: 14px;
    height: 54px;
}
@media (max-width: 1024px) {
    .header__back {
        margin-left: 20px;
    }
}

.event__header_background {
    width: 100%;
    height: 466px;
    background-image: url(../assets/png/header.png);
    background-size: cover;
    position: relative;
    z-index: 3;
}
@media (max-width: 1024px) {
    .event__header_background {
        background-image: none;
        height: 100%;
    }
}
.event__header_background_blur {
    width: 100%;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(200px);
    -webkit-filter: blur(200px);
    z-index: 1;
}
@media (max-width: 1024px) {
    .event__header_background_blur {
        display: none;
    }
}
.event__header_wrapper {
    display: flex;
    height: 100%;
}
.event__header_image {
    width: 545px;
    height: 545px;
    margin-right: 60px;
    flex-shrink: 0;
}
@media (max-width: 1024px) {
    .event__header_image {
        max-width: 390px;
        width: 100%;
        height: 390px;
        margin-right: 0;
    }
}
@media (max-width: 389px) {
    .event__header_image {
        width: 100%;
        min-width: 100%;
    }
}
.event__header_image > img {
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1024px) {
    .event__header_image > img {
        max-width: 390px;
        width: 100%;
        height: 390px;
        border-radius: 0px;
    }
}
@media (max-width: 389px) {
    .event__header_image > img {
        width: 365px;
    }
}
.event__header_title {
    display: flex;
    align-items: center;
    font-family: "JostBold";
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
}
@media (max-width: 1024px) {
    .event__header_title {
        display: none;
    }
}
.event__header_linkWrapper {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@media (max-width: 1024px) {
    .event__header_linkWrapper {
        display: none;
    }
}
.event__header_linkWrapper .shared {
    margin-left: 15px;
}
.event__header_linkWrapper .animated {
    animation: flick 1s infinite;
}
@keyframes flick {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.event__header_details {
    margin-top: 21px;
    display: flex;
    align-items: center;
}
.event__header_details > div {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
@media (max-width: 1024px) {
    .event__header_details {
        width: 100%;
        justify-content: space-between;
        margin-top: 0px;
        align-items: flex-end;
    }
}
.event__header_togo {
    border-radius: 0px 0px 5px 5px;
    color: #000000;
}
.event__header_container.isSticky {
    height: 602px;
    transition: height 0.3s ease-in-out;
}
.event__header_container.isSticky {
    height: 80px;
    transition: height 0.3s ease-in-out;
}
.event__stickyHeader {
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #1B191C;
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.event__stickyHeader_wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.event__stickyHeader_title {
    font-family: "JostBold";
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    margin-left: 40px;
}
@media (max-width: 1024px) {
    .event__stickyHeader_title {
        font-size: 16px;
        line-height: 150%;
        margin-left: 15px;
    }
}
.event__stickyHeader_titleContainer {
    display: flex;
}
.event__stickyHeader_togo {
    width: 59px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 2px 5px;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
}
@media (max-width: 1024px) {
    .event__stickyHeader_togo {
        width: 60px;
        height: 42px;
    }
}
.event__stickyHeader_button {
    padding: 15px 0;
}
@media (max-width: 1024px) {
    .event__stickyHeader_button {
        display: none;
    }
}
.event__stickyHeader.active {
    top: 0;
    z-index: 400;
    transition: top 0.5s ease-in-out;
}
.event__stickyHeader.inActive {
    top: -400px;
}
.event__general.active {
    visibility: visible;
    transition: transform 0.3s ease-in-out;
}
.event__general.inActive {
    visibility: hidden;
    transform: translateY(-466px);
    transition: transform 0.3s ease-in-out;
}

/*# sourceMappingURL=index.css.map */
