.footer {
  border-radius: 30px;
  background: #1B191C;
  width: 328px;
}
.footer__container {
  width: 100%;
  box-sizing: border-box;
  padding: 23px;
  background: #1B191C;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}
@media (max-width: 1024px) {
  .footer__container {
    padding-right: 19px;
  }
}
.footer__container > div {
  height: 100%;
  box-sizing: border-box;
}
.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "JostMedium";
  font-weight: 700;
  font-size: 16px;
  line-height: 23.12px;
  margin-bottom: 10px;
}
.footer__logo {
  width: 40px;
  height: 40px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer__image {
  position: relative;
}
.footer__image_container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media (max-width: 1024px) {
  .footer__image_container {
    width: 198px;
    height: 113px;
  }
}
.footer__image_content {
  display: flex;
  position: absolute;
  top: 18px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1024px) {
  .footer__image_content {
    top: 16px;
  }
}
.footer__image_text {
  font-family: "JostBold";
  font-weight: 700;
  font-size: 38px;
  line-height: 146%;
  margin-left: 39px;
  max-width: 110px;
}
@media (max-width: 1024px) {
  .footer__image_text {
    font-size: 20px;
    max-width: 56px;
    margin-left: 21px;
  }
}
.footer__image_logo {
  width: 86px;
  height: 86px;
  margin-right: 23px;
}
@media (max-width: 1024px) {
  .footer__image_logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
.footer .links_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.footer .storeLink {
  width: 136px;
  height: 49px;
}
.footer .producer_link {
  font-family: "JostLight";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
.footer .producer_link > a {
  color: #5855FF;
}
.footer .point {
  display: flex;
  font-family: "JostLight";
  font-weight: 300;
  font-size: 16px;
  line-height: 181%;
}
.footer .point__icon {
  margin-right: 13px;
  display: flex;
  align-self: center;
}

@media (max-width: 1024px) {
  .footer.with_image {
    width: 198px;
  }
}
.footer.with_image .footer__header {
  justify-content: center;
}
.footer.with_image .footer__logo {
  display: none;
}
.footer.with_image .footer__content {
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .footer.with_image .footer__content {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .footer.with_image .point {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .footer.with_image .point__icon {
    margin-right: 9px;
    width: 12px;
    height: 7px;
  }
}
@media (max-width: 1024px) {
  .footer.with_image .links_wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
  }
}
@media (max-width: 1024px) {
  .footer.with_image .storeLink {
    width: 110px;
    height: 37px;
  }
}

@media (max-width: 1024px) {
  .deadend.footer.with_image {
    width: 328px;
  }
}
.deadend.footer.with_image .footer__image_container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .footer__image_container {
    width: 100%;
    height: 100%;
  }
}
.deadend.footer.with_image .footer__image_content {
  display: flex;
  position: absolute;
  top: 18px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .footer__image_content {
    top: 18px;
  }
}
.deadend.footer.with_image .footer__image_text {
  font-family: "JostBold";
  font-weight: 700;
  font-size: 38px;
  line-height: 146%;
  margin-left: 39px;
  max-width: 110px;
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .footer__image_text {
    font-size: 38px;
    max-width: 110px;
    margin-left: 39px;
  }
}
.deadend.footer.with_image .footer__image_logo {
  width: 86px;
  height: 86px;
  margin-right: 23px;
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .footer__image_logo {
    width: 86px;
    height: 86px;
    margin-right: 23px;
  }
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .point {
    font-size: 16px;
    line-height: 181%;
  }
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .point__icon {
    margin-right: 13px;
    width: 18px;
    height: 11px;
  }
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .links_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .deadend.footer.with_image .storeLink {
    width: 136px;
    height: 49px;
  }
}

/*# sourceMappingURL=index.css.map */
