@font-face {
  font-family: "JostBold";
  src: url(./fonts/Jost-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "JostLight";
  src: url(./fonts/Jost-Light.ttf);
}
@font-face {
  font-family: "JostMedium";
  src: url(./fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: "JostRegular";
  src: url(./fonts/Jost-Regular.ttf);
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "JostRegular";
  background-color: black;
  color: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  min-height: 540px;
}

body[orient=portrait] {
  min-height: 540px;
}

body[orient=landscape] {
  min-height: 400px;
}

a {
  color: inherit;
}
