@import "../styles/variables.scss";

input {
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  padding: 21px 23px;
  height: 66px;
  width: 100%;
  border: 0;

  &:focus {
    &::placeholder {
      visibility: hidden;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error {
  color: $pink-500;
}

.dark {
  background-color: $gray-900;
  color: $pink-500;

  &:focus {
    background-color: $white-100 !important;
    color: $black-900 !important;
  }

  &.error {
    background-color: $white-100;
    color: $pink-500;
  }

  &.valid {
    background-color: $gray-900;
    color: $white-100;
  }
}

.light {
  background-color: $white-100;
  color: $black-900;

  &.error {
    color: $pink-500;
  }
}
