.container_form {
  display: flex;
  background-color: #000000;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  width: 500px;
  min-height: 600px;
  border-radius: 30px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .container_form {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    border-radius: 0px;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 390px;
    height: 100%;
    overflow: hidden;
  }
}
.container_form .container_form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.container_form h2 {
  margin: 0px;
}
.container_form .label_container {
  text-align: initial;
}
.container_form .error {
  color: #F80077;
  margin-top: 15px;
}
.container_form .back_button {
  align-self: stretch;
  cursor: pointer;
}
.container_form .phone__input {
  margin-top: 50px;
}
.container_form .phone__input .phone__style {
  background: #FFFFFF;
  width: 360px;
  height: 66px;
}
@media (max-width: 1024px) {
  .container_form .phone__input .phone__style {
    width: 342px;
  }
}
.container_form .phone__footer__container {
  display: flex;
  flex-direction: column;
}
.container_form .phone__footer__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 1024px) {
  .container_form .phone__footer__content {
    position: absolute;
    bottom: 50px;
  }
}
.container_form .label__private {
  margin-top: 15px;
}
@media (max-width: 1024px) {
  .container_form .label__private {
    font-size: 75%;
  }
}
.container_form .label__private .private__color {
  display: inline-block;
  color: #5855FF;
  margin-left: 4px;
  margin-right: 4px;
}
.container_form .button_phone_submit {
  margin-top: 60px;
}
.container_form .button__submit {
  margin-top: 40px;
}
.container_form .logo {
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .container_form .logo {
    margin-top: 0px;
  }
}
.container_form .resend__code {
  margin-top: 25px;
}
.container_form .label__otp {
  display: flex;
  flex-direction: column;
  width: 240px;
  text-align: center;
  margin-top: 40px;
}
.container_form .footer_image_otp {
  margin-top: 80px;
  margin-bottom: -30px;
}
.container_form .Otp__error {
  text-align: center;
  width: 100%;
  height: 30px;
}
@media (max-width: 1024px) {
  .container_form .create__account__form {
    margin-top: 50px;
  }
}
.container_form .create__account__title {
  margin-top: 100px;
  text-align: center;
  font-family: "JostBold";
  font-weight: 700;
  font-size: 24px;
  line-height: 112.5%;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .container_form .create__account__title {
    font-weight: 700;
    font-size: 16px;
  }
}
.container_form .field__container {
  margin-top: 25px;
}
.container_form .footer_image {
  margin-bottom: -30px;
}

/*# sourceMappingURL=index.css.map */
