@import "../styles/variables.scss";

.missing_container {
  display: flex;
  width: 500px;
  min-height: 600px;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 30px;
  overflow: hidden;

  @media (max-width: $screen-1024) {
    width: 390px;
    height: 100%;
    border-radius: 0px;
    overflow:visible;
  }

  .no__missing__data{
    display: flex;
    height: 100%;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $screen-1024) {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }


    .button__timer__container{
      display: flex;
      flex-direction: column;
      height: 130px;
      align-items: center;
      justify-content: center;
      background: #1b191c;
      width: 100%;
      margin-top: 130px;

      @media (max-width: $screen-1024) {
        width: 390px;
      }
    }
  }
}
.inputs{
  margin-top: 15px;
}
.orderSummary {
  color: #5855FF;
  font-family: "JostRegular";
  top: 174px;
}