.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  z-index: 1001;
  transform: scale(0);
  overflow: hidden;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
}

.btn__close {
  text-align: right;
}

/*# sourceMappingURL=modal.css.map */
