.container_otp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  min-height: 80px;
  justify-content: center;
}
.container-otp .inputStyle {
  width: 66px !important;
  height: 66px;
  border-radius: 40px;
  border: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
  background: white;
  font-size: 20px;
}
.error {
  border: 1px solid red !important;
}

/*# sourceMappingURL=index.css.map */
