.page {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.withFooter {
  height: calc(100% - 175px);
}

/*# sourceMappingURL=index.css.map */
