@import "../styles/variables.scss";


.items__page__container{
  display: flex;
  flex-direction: column;
  height: 100vh;

  .title{
    text-align: center;
    margin-top: 100px;
    font-family: "JostBold";
    line-height: 24px;
    font-weight: 700;
    font-size: 16px;
    color: $white-100;

    @media (max-width: $screen-1024) {
      margin-top: 30px;
      align-items: center;
    }
  }

  .items_with_dots{
    overflow-y: auto;
    padding-bottom: 50px;
  }

  .no_tickets{
    text-align: center;
    margin-top: 200px;

    .title_no_tickets{
      font-family: "JostBold";
      line-height: 24px;
      font-weight: 700;
      font-size: 16px;
      color: $white-100;
    }
    .subtitle_no_tickets{
      font-family: "JostLight";
      line-height: 22px;
      font-weight: 700;
      font-size: 16px;
      color: $white-100;
    }

  }


  .items__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 96px;
    overflow-x: scroll;
    height: 437px;
    padding-right: 66px;


    @media (max-width: $screen-1024) {
      margin-top: 30px;
      max-width: 390px;
      width: 100vw;
      height: 601px;
      align-items: center;
      padding-right: 0px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .tickets__footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    margin-top: 31px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    & > img {
      width: 100%
    }

  }
}


