.toGo {
  width: 59px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #d0dee6 0%, #f3f3f3 100%);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;
  color: black;
}
@media (max-width: 1024px) {
  .toGo {
    height: 42px;
    width: 60px;
  }
}

.future {
  background: linear-gradient(180deg, #d0dee6 0%, #f3f3f3 100%);
}

.live {
  background: linear-gradient(180deg, #5f9fff 0%, #00e786 100%);
}

.ended {
  background: transparent;
}
.ended > p {
  color: #635B68;
}

/*# sourceMappingURL=index.css.map */
