$screen-1600: 1600px;
$screen-1400: 1400px;
$screen-1280: 1280px;
$screen-1024: 1024px;
$screen-960: 960px;
$screen-768: 768px;
$screen-560: 560px;
$screen-768: 768px;
$screen-390: 389px;

$footerHeight: 175px;
$headerHight: 80px;
$headerMargin: 40px;

$orderSummaryWidthDesktop: 390px;
$containerWidthDesktop: 1010px;
$containerWidthMobile: 365px;

//colors
$red-300: #EF5EC6;
$red-500: #FF013E;
$red-900: #630F39;

$pink-500: #F80077;
$pink-900: #870272;
$green-300: #00E786;

$yellow-400: #F8EE00;

$blue-100: #7E7BFF;
$blue-200: #5F9FFF;
$blue-300: #5855FF;
$blue-400: #0157FF;
$blue-500: #5202FF;
$blue-700: #3901AE;

$purple-200: #9747FF;
$purple-400: #A12FFF;

$white-100: #FFFFFF;
$black-900: #000000;

$gray-100: #AAAAAC;
$gray-200: #938A99;
$gray-300: #8E8E8E;
$gray-500: #635B68;
$gray-700: #38343C;
$gray-800: #414146;
$gray-900: #1B191C;

// INPUT

// export const inputs = {
//   inActive: {
//     color: colors.white[100],
//     backgroundColor: colors.gray[900]
//   },
//   active: {
//     color: colors.black[900],
//     backgroundColor: colors.white[100]
//   },
//   error: {
//     color: colors.pink[500],
//     backgroundColor: colors.white[100]
//   },
//   missingData: {
//     color: colors.pink[500],
//     backgroundColor: colors.gray[900]
//   },
//   missingDataValid: {
//     color: colors.white[100],
//     backgroundColor: colors.gray[900]
//   },
//   general: {
//     height: "66px",
//     width: "100%",
//     padding: `21px 23px`,
//     borderRadius: "6px",
//     fontSize: "16px",
//     boxSizing: "border-box"
//   },
//   card: {
//     height: "40px",
//     display: "flex",
//     justifyContent: "center",
//     padding: "8px 0"
//   },
//   cardSize: {
//     regular: {
//       width: "455px"
//     },
//     cvv: {
//       width: "90px"
//     },
//     expireDate: {
//       width: "138px"
//     }
//   }
// };
