.menu_button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
}
.menu_button_disabled {
  color: #5855FF;
  font-family: "JostLight";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_container {
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 5;
}

/*TODO change fixed color to color from color system*/
.menu_area {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 311px;
  padding: 40px;
  background-color: #2a2828;
  border-bottom-left-radius: 30px;
  align-content: center;
  align-items: center;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-color: darkgray;
  border-left-color: darkgray;
  transform: translateX(200px);
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}
.menu_area.active {
  transform: translateX(0);
}

.user_name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/*# sourceMappingURL=view.css.map */
